#leftcol
  .block
    .block-top
    .block-content
      %h2 About the website
      %ul
        %li= link_to 'News article from Trishula Patel', 'http://columbianewsservice.com/2013/04/ill-have-a-skinny-soy-latte-plus-one-suspended/'
      %h2 About suspended coffees
      %p= t(:nothing_yet)
    .block-bottom