<div id="leftcol">
	<div class="block">
		<div class="block-top"></div>
		<div class="block-content">
			<h2>Welcome to the <span>CoffeeSharing!</span></h2>
				<p>
					<%= image_tag 'theme/img-cake.jpg', class:'cake', alt:'Cake' %>
					Join our web 2.0 community of people who are volunteer to pay coffee for free to people who can't afford it during winter.</p>
			<a class="yellow-button" href="#"><span>Learn More</span></a>
		</div>
		<div class="block-bottom"></div>
	</div>
</div>

<div id="rightcol">
	<div class="block">
		<div class="block-top"></div>
		<div class="block-content">
			<h3><span>Best places</span></h3>
			<ul>
				<li><a href="#">Starbucks Odeon</a><strong>Paris</strong></li>
				<li><a href="#">Unity Bar</a><strong>Paris</strong></li>
				<li><a href="#">Friterie momo</a><strong>Lille</strong></li>
				<li><a href="#">Le séjour café</a><strong>Nice</strong></li>
			</ul>
			<a class="yellow-button"><span>See others</span></a>
		</div>
		<div class="block-bottom"></div>
	</div>
</div>