<ul>
<!--
  <li class="active"><%= link_to 'Home', controller:'pages', action:'home' %></li>
-->
  <li><%= link_to t(:about), controller:'pages', action:'home' %></li>
  <li><%= link_to t(:places), controller:'places', action:'index' %></li>
</ul>
